syntax: glob
lfc.db
.installed.cfg
*.pyc
*.pyo
*.DS_Store
*develop-eggs/
*.egg-info/
*eggs/
*parts/
*bin/
*downloads/
*media/
local_settings.py
restart.sh
server.pid
*django_coverage*
.coverage
*.log
*sdist/
workplan.txt
workspace.xml
wsgi.py
celery.py
manage.py
lfc.log
*.idea/
uwsgi.ini
celeryd.pid
README.txt
.idea/
