<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章管理系统</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    {% block css %}{% endblock %}
    <script src="{{ url_for('static',filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand">文章管理系统</a>
            <a class="btn btn-outline-danger" href="/login/">账号名称 -> 退出</a>
        </div>
    </nav>
</body>
</html>