{% extends "layout.html" %}
{% block css %}
    <style>
    .table td, .table th {
        vertical-align: middle;
    }
    </style>
{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>分类</th>
                    <th>封面</th>
                    <th>作者</th>
                    <th>发布时间</th>
                    <th>管理操作</th>
                </tr>
            </thead>
            {% for i in range(1, 11) %}
                <tr>
                    <td>火星发现淡水</td>
                    <td>科技</td>
                    <td><img data-src="holder.js/75×40"></td>
                    <td>imooc</td>
                    <td>2018-01-01 12:00:00</td>
                    <td>
                        <button class="btn btn-sm btn-outline-warning">编辑</button>
                        <button class="btn btn-sm btn-outline-danger">删除</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">上一页</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">下一页</a></li>
            </ul>
        </nav>

{% endblock %}

